.mainfather{
    background:linear-gradient(to top left,#EF1588,#ecabcc,#ecabcc,#EF1588) ;
    
} 
.header{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffffffe6;
    border:1px solid #ffffff00 ;
    align-content:center; 
    border-radius: 12px;  
    opacity: .6;
} 

  
.logsin{
   font-size:25px;
   margin:5px ;
   display:inline;
   position: relative;
   left: 370px;
   border:1px solid #ffffff9a ;
    border-radius: 10px; 
   
}
.logsin:hover{
    opacity:.5;
}
 
.links{
    text-decoration: none;
}
.son2{
    margin: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imgs{
    width: 250px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.webname{ 
    position: relative;
    left:30px ;
    cursor: pointer;
}
  
.Submitt{
    width: 200px ;
    height: 30px ;
    background-color: rgb(179, 195, 219);
    border-style: hidden;
    border-radius: 10px ;
    margin-left: 30px;
    margin:10px ;
    cursor: pointer;
    }
    .Submitt:hover{
        background-color: rgb(179, 195, 219,0.7);
    }
  
   .cards:hover{
    transform: scale(1.1);
  } 
.searchbar{
    width: 400px;
    height: 50px;
    padding-left: 10px;
    color:#9f0456;
    font-size: large;
    position: relative;
    left: 200px;
    bottom:8px ;
    border-radius: 12px;
    border-style: solid;
    opacity: .9;
}

.cards{
    display: flex;
    background-color:#e8e3e3e6; 
    width: fit-content;
    padding-bottom: 10px;
    margin: 20px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
}
.flowername{
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgb(96, 11, 53);
    
   
 
}